div{
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 12vh;
    font-size: 12vh
    
    text-align: center;
    padding: 30vh 15vh 20vh 20vh;
   

}
body{
    background-image:url(backgrond-baloons.jpg)


}
h4 {
    text-decoration-color: red;
}

.headings {
   border:  grey;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 9vh;

 
}

a {  
    color: rgb(10, 66, 8);
    
}

i {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

b {
    font: fantasy;
    color: rgb(35, 189, 35);
}

.rules{
    color: #ba0006;
    font-size: large;
  text-align: center;
  /* infinite */
  animation: blink 4s infinite;

}
@keyframes blink{
    0%{
        opacity: 1;
        font-size: 5vh;
    }
    50%{
        opacity: 0;
        font-size: 10vh;
    }
    100%{
        opacity: 1;
        font-size: 5vh;
    }
}
 .capybara {
     text-align: center;
 }


 .phones {
     text-align: left
 }

 .ironmaiden {
     text-align: right;
 }

 .gift {
     font-size: 10vh;
     text-align: center;
 }
 .specialdiv {
    background-color: gold;
    font-family: 'Courier New', Courier, monospace
    border-radius: 12vh;
    font-size: 12vh
    
    text-align: center;
    padding: 30vh 15vh 20vh 20vh;
   

}
